<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{ site.title }}</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
    <link rel="stylesheet" href="/static/css/site.css">
</head>

<body>
{% include 'navbar.html' %}

<div class="container">
    <div class="row">
        <div class="col-xs-12">
            <h3 class="page-header">Inbox</h3>
            <div id="alerts"></div>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12">
            <div class="pull-left" style="width: 200px" id="senders"></div>
            <div style="margin-left: 200px">
                <form id="replyForm" method="post" onsubmit="return false" class="form-inline hidden" style="margin-bottom: 15px;">
                    <textarea rows="3" name="message" class="form-control" style="width:100%" placeholder="Type your reply and press enter to send..."></textarea>
                    <input type="hidden" name="recipient" value="">
                </form>
                <div id="messages"></div>
            </div>
        </div>
    </div>
</div>

<div class="page-notice text-center bg-primary"></div>

<script src="https://code.jquery.com/jquery-2.2.4.min.js" integrity="sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44=" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>

<script>
    var days = ["Sun", "Mon", "Tue", "Wed", "Thu", "Fri", "Sat"];
    var months = ["Jan", "Feb", "Mar", "Apr", "May", "Jun", "Jul", "Aug", "Sep", "Oct", "Nov", "Dec"];
    var selected = null;
    var timer1 = null;
    var alerts = $('#alerts');
    var senders = $('#senders');
    var messages = $('#messages');
    var replyform = $('#replyForm');

    function get_senders() {
        clearTimeout(timer1);
        $.post('/user/inbox/sellers', function (data) {
            if (!data) {
                senders.html('No messages');
                replyform.addClass('hidden');
                messages.html('');
            } else {
                var html = [];
                var item, updated, compare, datedisplay, classname;
                var today = (new Date()).setHours(0, 0, 0, 0);
                // loop over senders
                for (var i = 0, l = data.length; i < l; i++) {
                    item = data[i];
                    // assign to selected if null
                    if (!selected)
                        selected = item['id'];
                    // get date display
                    updated = new Date(item['updated']);
                    compare = new Date(item['updated']).setHours(0, 0, 0, 0);
                    if (compare == today)
                        datedisplay = ("00" + updated.getHours()).slice(-2) + ':' + ("00" + updated.getMinutes()).slice(-2);
                    else
                        datedisplay = days[updated.getDay()] + ', ' + updated.getDate() + ' ' + months[updated.getMonth()];
                    // set class if current selection
                    classname = "sender";
                    if (item['id'] == selected)
                        classname += " selected";
                    // append to html
                    html.push('<a href="javascript:void(0)" data-id="' + item['id'] + '" class="'+ classname +'">'
                            + '<img src="/static/img/profile.png">'
                            + '<div><h5>' + item['name'] + '</h5><p>' + datedisplay + '</p></div>'
                            + '</a>');
                }
                // write to target
                senders.html(html.join(''));
                // add click action
                senders.find('a').on('click', function(e) {
                    e.preventDefault();
                    selected = $(this).attr('data-id');
                    senders.find('a').removeClass('selected');
                    $(this).addClass('selected');
                    get_messages();
                });
                // update messages
                get_messages();
            }
            // keep senders live
            timer1 = setTimeout(get_senders, 3000);
        }).fail(function (obj, status, error) {
            alerts.html('<div class="alert alert-warning alert-dismissible" role="alert">'
                +'<button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>'
                +'<strong>Error!</strong> ' + obj.responseText + '. Please try refreshing the page.'
                +'</div>');
        });
    }

    function get_messages() {
        replyform.find('[name=recipient]').val(selected);
        $.post('/user/inbox/messages', {'senderid': selected}, function (data) {
            if (!data) {
                replyform.addClass('hidden');
                messages.html('');
            } else {
                var html = [];
                var item, created, datedisplay, classname;
                // loop over messages
                for (var i = 0, l = data.length; i < l; i++) {
                    item = data[i];
                    // format date
                    created = new Date(item['created']);
                    datedisplay = days[created.getDay()] + ', ' + created.getDate() + ' ' + months[created.getMonth()]
                            + ' ' + ("00" + created.getHours()).slice(-2) + ':' + ("00" + created.getMinutes()).slice(-2);
                    // set class if already selected
                    classname = "message";
                    if (item['id'] == selected)
                        classname += " selected";
                    // append to html
                    html.push('<div class="'+ classname +'">'
                            + '<p>' + item['message'] + '</p>'
                            + '<small>' + item['name'] + ' - ' + datedisplay + '</small>'
                            + '</div>')
                }
                // write to target
                messages.html(html.join(''));
                // show reply form
                replyform.removeClass('hidden');
            }
        }).fail(function (obj, status, error) {
            alerts.html('<div class="alert alert-warning alert-dismissible" role="alert">'
                +'<button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>'
                +'<strong>Error!</strong> ' + obj.responseText + '. Please try refreshing the page.'
                +'</div>');
        });
    }

    function send_message() {
        $.post("/user/message", $('#replyForm').serialize(), function(data) {
            $('[name=message]', '#replyForm').val('');
            $('.page-notice').html(data).animate({bottom: 0}, 500).delay(2000).animate({bottom: -50}, 500);
            get_messages();
        }).fail(function (obj, status, error) {
            alerts.html('<div class="alert alert-danger alert-dismissible text-center" role="alert">'
                +'<button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>'
                +'<strong>Error!</strong> ' + obj.responseText
                +'</div>');
        });
    }

    $('[name=message]', '#replyForm').on('keypress', function(e) {
        if (e.keyCode == 13) {  // enter key
            e.preventDefault();
            send_message();
        }
    });

    get_senders();
</script>
</body>
</html>